<h1> List of Teams </h1>
<ol>
  <% @teams.each do |team| %>
    <li>
       <h3> <%= link_to team.name, team_path(team) %> </h3>
      <p> <%= team.description  %> </p>
    </li>
  <% end %>
</ol>



<%= button_to 'Add a New Team', new_team_path, method: 'get'%>