<h1 class="display-4 mt-5 ml-5 d-inline">Add Team</h1>
<p class="text-muted d-inline mt-5">* - required fields</p>
<br>

<%= link_to 'Cancel', section_projects_path(@project.section), id: 'cancel' , :class => "btn btn-danger mt-3 ml-5"%>

<%= render 'form' %>