<div id='main'>
  <h1>All Admins</h1>
    <table id='courses'>
      <thead>
        <tr>
        <th>Admin Name</th>
        <th>Email</th>
        <% if is_admin_html %>
          <th>Removal</th>
        <%end%>
        </tr>
      </thead>
      <tbody>
        <% @admins.each do |admin| %>
          <tr>
            <td> <%= admin.name %> </td>
            <td> <%= admin.email %> </td>
            <% if is_admin_html %>
              <td><%= link_to "Remove #{admin.name}", :action => 'remove', :id => admin.id , :method => :get %></td>
            <%end%>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<div id='create_admin'>
  <a href='/createaccount'>Create Admin</a>
</div> 
