<h1>Remove User: <%=@object_removing.name%></h1>

<table border="1">
  <tr>
    <td>Name</td>
    <td><%=@object_removing.name%></td>
  </tr>
  <tr>
    <td>Email</td>
    <td><%=@object_removing.email%></td>
  </tr>
</table>
</br></br>

<%= render "layouts/confirm_destroy" %>