<h1 class="display-4 mt-5 ml-5">Students</h1>
<% if is_admin_html %>
  <div id='create_admin'>
    <a class="btn btn-success ml-5" href="/createaccount">Create Student</a>
  </div> 
<% end %>

<table class="table table-striped table-bordered w-50 mx-auto" id='courses'>
  <thead class="thead-dark">
    <tr>
      <th>Student Name</th>
      <th>Email</th>
      <% if is_admin_html %>
        <th>Removal</th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td> <%= student.name %> </td>
        <td> <%= student.email %> </td>
        <% if is_admin_html %>
          <td><%= link_to "Remove #{student.name}", remove_student_path(student), :id => student.id, :method => :get , :class => "btn btn-danger" %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>