<h1>Create Account</h1>

<h4>Guidelines:</h4>
<ul>
  <li>Email must be unique</li>
  <li>Password must be a minimum of 8 characters</li>
  <li>Password must contain a digit</li>
  <li>Password must contain a symbol</li>
</ul>
<hr/>
<%= render 'form' %>