<h1> List of skills </h1>
<ol>
  <% @skills.each do |skill| %>
    <li>
      <%= link_to skill.name, edit_skill_path(skill) %> | <%= skill.description  %>
    </li>
  <% end %>
</ol>


<% if is_admin_html %>
  <%= button_to 'Add a New Skill', new_skill_path, method: 'get'%>
<% end %>