
<h1 class="ml-5 mt-5 mb-5">
  <span class="display-4 d-inline-block">All Skills</span>
  <% if is_admin_html %>
    <%= button_to 'Add Skill', new_skill_path, method: 'get', :class => "btn btn-success" %>
  <% end %>
</h1>

<div class="container">
  <div class="jumbotron">
    <% @skills.each do |skill| %>
      <div class="card d-inline-block ml-4 mt-4" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= skill.name %></h5>
          <p class="card-text text-muted"><%= skill.description %></p>
          <% if is_admin_html %>
            <%= link_to "Edit Skill", edit_skill_path(skill) , :class => "btn btn-warning" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
