<h1>CrewCreator</h1>
<br\>
<br\>

<%= button_to 'Log In', {:action => :new, :controller => :sessions}, :method => :get %>
<br\>
<%= button_to 'Create Account', {:action => :new, :controller => :admins}, :method => :get %>
<br\>
<%= button_to 'View Courses', {:action => :index, :controller => :courses}, :method => :get %>
<br\>
<%= button_to 'View Admins', {:action => :index, :controller => :admins}, :method => :get %>