<%= form_for [@course, @section] do |form| %>

  <p>
    <%= form.label :number %><br>
    <%= form.number_field :number, in: 1...9999, :id => "number" %>
  </p>
  
  <p>
    <%= form.submit "Create", :id => "create" %>
  </p>

<% end %>