<h1>Remove Section <%= @section.number %>: </h1>
<h2>Projects will be removed.</h2>
<table border="1">
  <thead>
    <tr>
      <th>Section Number</th>
    </tr>
  </thead>
  <tr>
    <td>
      <%= @section.number %>
    </td>
  </tr>
</table>
<br></br>

<%= render "layouts/confirm_destroy", object: @section, as: 'object' %>
<br/>
<%= link_to 'Cancel', section_projects_path(@section), id: 'cancel' %>
