<h1 class="display-4 mt-5 ml-5">Edit <%= @project.name %></h1>

<%= link_to 'Cancel', section_projects_path(@project.section), id: 'cancel', :class => "btn btn-danger mt-3 ml-5"%>

<%= render 'form' %>
