<h1>Projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
  
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.name %></td>
      <td><%= project.description %></td>
    </tr>
  <% end %>
</table>

<%= button_to "New Project", {:action => :new, :controller => :projects}, :method => :get, :id => "new_project"  %>
