<div id='main'>
  <h2>Create New Course</h2>
  <form action="/courses" accept-charset="UTF-8" method="post">
    <label for="course_name">Course Name</label> <br>
    <input type="text" name="course[name]" id="course_name" />
    <br>
    <label for="course_code">Code</label> <br>
    <input type="text" name="course[code]" id="course_code" />
    <br>
    <label for="course_description">Description</label> <br>
    <input type="text" name="course[description]" id="course_description" />
    <br>
    <% def add_asection() puts("Section")
      
    %>
    <label for="add_section">Add Section</label> <br>
    <%= button_to "+", :id => "add_asection()", :onclick => add_asection() %>
    <br>
    <input type="submit" name="commit" value="Save Changes" data-disable-with="Save Changes" id="submit_new_course" />
  </form>
</div>
