<% if object.errors.any? %>
  <p>
    <h4>
      <%= pluralize(object.errors.count, "error") %>
      prohibited this project from being saved:
    </h4>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </p>
<% end %>
