<% if object.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h5 class="display-5"><%= pluralize(object.errors.count, "error") %> prohibited this form from being saved:</h5>
    
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
